#page-output {
  height: 100%;
  width: 100%;
}

#page-output aside {
  background-color: #ffffff;

  padding: 2vw;

  min-height: 100vh;
  width: 30vw;
}

#page-output aside header h3 {
  color: #4d6f80;
  font-size: clamp(2vw, 3rem, 5vw);

  margin-bottom: 2vh;
}

#page-output aside div {
  color: #8fa7b2;

  font-weight: 600;
  font-size: clamp(1vw, 2.3rem, 3vw);
  line-height: 1.5;

  margin: 1.5vh 0;
}

#page-output aside div h1 {
  margin: 2vh 0;
  text-align: center;
  font-size: clamp(2vw, 5rem, 5vw);
}

#page-output aside hr {
  border: 1px solid #d3e2e5;
}

#page-output aside a {
  background-color: #37c77f;
  text-decoration: none;
  color: #ffffff;
  font: 800 2rem/1 "Nunito", sans-serif;

  text-align: center;
  justify-content: center;
  display: flex;
  height: 7vh;
  border-radius: 2rem;

  padding: 2.5vh;
  margin-top: 6vh;
}

#page-output .output-buttons-container {
  z-index: 10;

  position: fixed;
  right: 0;

  height: 100%;
  padding: 4rem 1rem;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  overflow: hidden;
}

#page-output .output-buttons a:hover {
  opacity: 100%;
  transition: background-color 200ms;
}

#page-output .output-buttons a {
  width: 4.8rem;
  height: 4.8rem;
  border: none;

  background-color: #12afcd;

  border: 0;
  border-radius: 1.6rem;

  opacity: 40%;

  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  overflow: hidden;
  margin-top: 2rem;

  outline: none;
}

#page-output .output-buttons a img {
  width: 3.5rem;
  height: 3.5rem;
  border: none;

  opacity: 30%;

  transition: opacity 200s;
}

#page-output .output-buttons a:hover {
  background-color: #17d6eb;
}

#page-output .output-buttons a img:hover {
  opacity: 100%;
}

@media (max-width: 500px) {
  #page-output aside {
    padding-top: 3vh;
    min-width: 100vw;
  }

  #page-output aside div h1 {
    font-size: clamp(5vw, 5rem, 8vw);
  }

  #page-output aside div {
    font-size: clamp(2vw, 2rem, 6vw);
  }

  #page-output aside header h3 {
    font-size: clamp(8vw, 11vw, 12vw);
  }

  #page-output header h1 {
    font-size: clamp(10vw, 12vw, 13vw);
  }

  .content h3 {
    font-size: clamp(7vw, 7vw, 9vw);
  }

  .content p {
    font-size: clamp(2.5vw, 3vw, 4vw);
  }
}


/* Graph Style */

#graph {
  display: flex;
  align-content: center;
  justify-content: center;
}

.graphStyle path.line {
  stroke: var(--main-light-output-graph-line);
}
  
.graphStyle text {
  font-size: 15px;
  fill: var(--main-light-output-graph-text);
  font-family: 'Titillium Web', sans-serif;
}

.graphStyle path.origin {
  stroke: var(--main-light-output-graph-axis);
}

.graphStyle .tip circle {
  fill: var(--main-light-output-graph-circle);
}  
