
/* Page Input Div */

#page-input{
    /* display: flex; */
    height: 100%;
    width: 100%;
    background-color: var(--main-light-bg);
    background-image: url("../images/math_bg_light.svg");
    background-repeat: repeat;
    background-size: 100vh;
    background-position: center center;
    background-attachment: fixed;
    
}

#page-input main{

    flex: 1;
    display: flex;
    align-items: center;

}

/* Input Form Area */

.input-area{

    padding-top: clamp(5rem, 6vh, 10rem);
    padding-left: clamp(1rem, 6vw, 6rem);
    padding-bottom: clamp(5rem, 6vh, 10rem);
    padding-right: clamp(1rem, 6vw, 6rem);
    z-index: 10;

    margin: auto;
    
    background-color: var(--main-light-input-page-bg);


    width: clamp(30rem, 60rem, 60rem);

    box-sizing: border-box;

    border-radius: 3rem;
    border: 1px solid var(--main-light-input-page-bg-border);
    
}

.input-area header button{  
    display: inline-block;
}


.input-area header h1{
    font-weight: 600;
    font-size: 6rem;
    color:  var(--main-light-input-header);
    margin-bottom: 2rem;
}

.input-area p{
    color: var(--main-light-input-p);
    font-weight: 500;
}

.input-area h4{
    color: var(--main-light-input-p);
    font-weight: 600;
    font-size: 3rem;
}

.input-buttons{
    background-color: var(--main-light-input-button-bg);
    border-radius: 2rem;
    border: 1px solid var(--main-light-input-button-border);

    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem auto 1rem;

    width: 100%;
    height: clamp(3rem, 3.5vh, 4rem);
}

.input-buttons a{
    padding-top: 0.7rem;

    text-align: center;
    
    width: 100%;
    height: 100%;

    text-decoration: none;

    color: var(--main-light-input-button-a);
    font: 600 1.6rem/1 'Nunito', sans-serif;

    transition: background 0.3s, border-radius 0.3s, border-color 0.3s;
}

.deactive{
    display: none;
}

#first-degree:hover{
    background: var(--main-light-input-button-bg-hover);
    border-color: var(--main-light-input-button-border-hover);
    border-radius: 2rem 0 0 2rem;
}



.first-degree-wip{
    display: block;
    justify-content:center;
    align-content:center;
}

.first-degree-wip span svg{
    
    margin-top: 2.5rem;
}

#second-degree:hover{
    background: var(--main-light-input-button-bg-hover);
    border-color: var(--main-light-input-button-border-hover);
    border-radius: 0 2rem 2rem 0;
}

.input-buttons-border {
    border-left: 2px solid var(--main-light-input-button-divider);
    height: 100%;
}

.input-button-icons{
    justify-content: center;
    align-items: center;
    display: flex;

}

.input-button-icons img:first-child{
    margin-right: clamp(15rem, 18rem, 18rem);
}

#page-input hr{
    height: 1px;
    border-top: 1px solid  var(--main-light-input-hr);
    width: 100%;
    margin: 2vh 0;
}


#page-input form fieldset{
    margin-top: 2rem;
    display: block;
    border: 0;
}

.input-block + .input-block{
    margin-top: 3vh;
}


.input-block label{
    color: var(--main-light-input-label);
    font-weight: clamp(400, 600, 800);
}


.input-block input{
    width: 100%;
    height: clamp(4rem, 6vh, 7vh);

    margin-top: 1rem;

    background-color: var(--main-light-input-bg);

    border-radius: 2rem;
    border: 1px solid var(--main-light-input-bg-border);

    color: var(--main-light-input-text-color);
    padding: 0 1rem;
}

.input-block input::placeholder{
    color: var(--main-light-input-placeholder-color);
}
 
/* Input Info Icon */

#gradient-info-icon {
    --color-stop-1: #15B6D6;
    --color-stop-2: #15D6D6;
}

.input-info-icon:hover path {
    fill-opacity: 0.8;
    fill: url(#gradient-info-icon) #15B6D6;

    transition: background-color 0.3s;
}

.calculate-button{
    text-decoration: none;

    background-color: var(--main-light-input-calculate-button-bg);
    color: var(--main-light-input-calculate-button-color);

    font: 800 2rem/1 'Nunito', sans-serif;

    border-radius: 2rem;
    margin-top: 2rem;

    justify-content: center;
    text-align: center;
    display: block;
    
    width: 100%;
    height: clamp(2rem, 9vh, 9rem);

    padding-top: clamp(3.1vh, 3vh, 3vh);
    transition: background-color 300ms;
    
}

.calculate-button:hover{
    background-color: var(--main-light-input-calculate-button-bg-hover);
}

#page-input input{
    outline: none;
}

@media (max-width: 500px) {
    .background-pattern{
        display: none;
    }

    .input-area{
        margin: 0;
        padding: clamp(2vh, 5rem, 0.5vh)   clamp(2vw, 5vw, 6vw);
        border-radius: 0;

        height: 100vh;
        width: 100vw;
    }

    .input-area header h1{
        font-weight: 700;
        font-size: 4rem;
        color: var(--main-light-input-header);
    }
    .input-area p{
        font-weight: 700;
        font-size: clamp(2vw, 1.5rem, 5vw);
        color: var(--main-light-input-p);
    }

    .input-buttons{
        margin-top: clamp(2vw, 5vw, 6vw);   
        height: 5vh;
    }

    .input-buttons a{
        font-size: clamp(1.2rem, 3.5vw, 4vw)
    }

    .input-button-icons img:first-child{
        margin-right: clamp(5rem, 6rem, 10rem);
    }

    #page-input hr{
        margin: 3vh 0;
    }

    #page-input form fieldset{
        margin-top: 3vh
    }

    #page-input form fieldset .input-block label{
        font-size: clamp(1vh, 1.5rem, 3vh);
    }

    #page-input form fieldset .input-block + .input-block{
        margin-top: 2vh;
    }

    #page-input form fieldset .input-block input{
        height: 8vh;
    }

    .calculate-button{
        margin-bottom: 10vh;
    }

}