:root {

/*==================*/
/* -> Light Mode <- */
/*==================*/

    /* --------- INPUT Page ---------- */

    --main-light-bg: #CEDEE5;

    /* Input Form */
    --main-light-input-page-bg: #ffffff;
    --main-light-input-page-bg-border: #D3E2E5;

    /* Input Form Text */
    --main-light-input-header: #4D6F80;
    --main-light-input-p: #8FA7B2;

    /* Input Form Buttons */
    --main-light-input-button-bg: #f5f8fa;
    --main-light-input-button-border: #d3e2e5;

    --main-light-input-button-a: #8fa7b2;

    /* Input Form Button Hover */
    --main-light-input-button-bg-hover: #EFFEFF;
    --main-light-input-button-border-hover: #D3E2E5;

    /* Input Buttons Divider */
    --main-light-input-button-divider: #d3e2e5;

    --main-light-input-hr: #D3E2E5;
    
    /* ----------- Input Client ---------- */

    /* Input Label */
    --main-light-input-label: #8FA7B2;

    /* Input Form */
    --main-light-input-bg: #F5F8FA;
    --main-light-input-bg-border: #d2e2e5;
    
    --main-light-input-text-color: #8FA7B2;

    /* Input Form Placeholder */
    --main-light-input-placeholder-color: #8FA7B2;

    /* ----------- Input Calculate Button -------- */

    --main-light-input-calculate-button-bg: #37C77F;
    --main-light-input-calculate-button-color: #ffffff;

    /* Button Hover */
    --main-light-input-calculate-button-bg-hover: #3EE08F;


/*=================*/
/* -> Dark Mode <- */
/*=================*/

    /* --------- INPUT Page ---------- */

    --main-dark-bg: #CEDEE5;

    /* Input Form */
    --main-dark-input-page-bg: #ffffff;
    --main-dark-input-page-bg-border: #D3E2E5;

    /* Input Form Text */
    --main-dark-input-header: #4D6F80;
    --main-dark-input-p: #8FA7B2;

    /* Input Form Buttons */
    --main-dark-input-button-bg: #f5f8fa;
    --main-dark-input-button-border: #d3e2e5;

    --main-dark-input-button-a: #8fa7b2;

    /* Input Form Button Hover */
    --main-dark-input-button-bg-hover: #EFFEFF;
    --main-dark-input-button-border-hover: #D3E2E5;

    /* Input Buttons Divider */
    --main-dark-input-button-divider: #d3e2e5;

    --main-dark-input-hr: #D3E2E5;
    
    /* ----------- Input Client ---------- */

    /* Input Label */
    --main-dark-input-label: #8FA7B2;

    /* Input Form */
    --main-dark-input-bg: #F5F8FA;
    --main-dark-input-bg-border: #d2e2e5;
    
    --main-dark-input-text-color: #8FA7B2;

    /* Input Form Placeholder */
    --main-dark-input-placeholder-color: #8FA7B2;

    /* ----------- Input Calculate Button -------- */

    --main-dark-input-calculate-button-bg: #37C77F;
    --main-dark-input-calculate-button-color: #ffffff;

    /* Button Hover */
    --main-dark-input-calculate-button-bg-hover: #3EE08F;
    
}


/* Page Input Div */

#page-input{
    /* display: flex; */
    height: 100%;
    width: 100%;
    background-color: var(--main-light-bg);
    background-image: url("../images/math_bg_light.svg");
    background-repeat: repeat;
    background-size: 100vh;
    background-position: center center;
    background-attachment: fixed;
    
}

#page-input main{

    flex: 1;
    display: flex;
    align-items: center;

}

/* Input Form Area */

.input-area{

    padding: 5.7rem;
    z-index: 10;

    margin: auto;
    
    background-color: var(--main-light-input-page-bg);


    width: clamp(30rem, 60rem, 60rem);

    box-sizing: border-box;

    border-radius: 3rem;
    border: 1px solid var(--main-light-input-page-bg-border);
    
}

.input-area header button{  
    display: inline-block;
}


.input-area header h1{
    font-weight: 600;
    font-size: 6rem;
    color:  var(--main-light-input-header);
    margin-bottom: 2rem;
}

.input-area p{
    color: var(--main-light-input-p);
    font-weight: 500;
}

.input-buttons{
    background-color: var(--main-light-input-button-bg);
    border-radius: 2rem;
    border: 1px solid var(--main-light-input-button-border);

    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem auto 1rem;

    width: 100%;
    height: 4rem;
}

.input-buttons a{
    padding-top: 1.15vh;

    text-align: center;
    
    width: 100%;
    height: 100%;

    text-decoration: none;

    color: var(--main-light-input-button-a);
    font: 600 1.6rem/1 'Nunito', sans-serif;

    transition: background 0.3s, border-radius 0.3s, border-color 0.3s;
}

.deactive{
    display: none;
}

#first-degree:hover{
    background: var(--main-light-input-button-bg-hover);
    border-color: var(--main-light-input-button-border-hover);
    border-radius: 2rem 0 0 2rem;
}

#second-degree:hover{
    background: var(--main-light-input-button-bg-hover);
    border-color: var(--main-light-input-button-border-hover);
    border-radius: 0 2rem 2rem 0;
}

.input-buttons-border {
    border-left: 2px solid var(--main-light-input-button-divider);
    height: 100%;
}

.input-button-icons{
    justify-content: center;
    align-items: center;
    display: flex;

}

.input-button-icons img:first-child{
    margin-right: clamp(15rem, 18rem, 18rem);
}

#page-input hr{
    height: 1px;
    border-top: 1px solid  var(--main-light-input-hr);
    width: 100%;
    margin: 3rem 0;
}


#page-input form fieldset{
    margin-top: 2rem;
    display: block;
    border: 0;
}

.input-block + .input-block{
    margin-top: 3rem;
}


.input-block label{
    color: var(--main-light-input-label);
    font-weight: 600;
}


.input-block input{
    width: 100%;
    height: 6rem;

    margin-top: 1rem;

    background-color: var(--main-light-input-bg);

    border-radius: 2rem;
    border: 1px solid var(--main-light-input-bg-border);

    color: var(--main-light-input-text-color);
    padding: 0 1rem;
}

.input-block input::placeholder{
    color: var(--main-light-input-placeholder-color);
}
 
/* Input Info Icon */

#gradient-info-icon {
    --color-stop-1: #15B6D6;
    --color-stop-2: #15D6D6;
}

.input-info-icon:hover path {
    fill-opacity: 0.8;
    fill: url(#gradient-info-icon) #15B6D6;

    transition: background-color 0.3s;
}

.calculate-button{
    text-decoration: none;

    background-color: var(--main-light-input-calculate-button-bg);
    color: var(--main-light-input-calculate-button-color);

    font: 800 2rem/1 'Nunito', sans-serif;

    border-radius: 2rem;
    margin-top: 6vh;

    justify-content: center;
    text-align: center;
    display: block;
    
    width: 100%;

    padding: 30px;
    transition: background-color 300ms;
    
}

.calculate-button:hover{
    background-color: var(--main-light-input-calculate-button-bg-hover);
}

#page-input input{
    outline: none;
}

@media (max-width: 500px) {
    .background-pattern{
        display: none;
    }

    .input-area{
        margin: 0;
        padding: 5vh   clamp(2vw, 5vw, 6vw);
        border-radius: 0;

        height: 100vh;
        width: 100vw;
    }

    .input-area header h1{
        font-weight: 700;
        font-size: 4rem;
        color: var(--main-light-input-header);
    }
    .input-area p{
        font-weight: 700;
        font-size: clamp(2vw, 1.5rem, 5vw);
        color: var(--main-light-input-p);
    }

    .input-buttons{
        margin-top: clamp(2vw, 5vw, 6vw);   
        height: 5vh;
    }

    .input-buttons a{
        font-size: clamp(1.2rem, 3.5vw, 4vw)
    }

    .input-button-icons img:first-child{
        margin-right: clamp(5rem, 6rem, 10rem);
    }

    #page-input hr{
        margin: 3vh 0;
    }

    #page-input form fieldset{
        margin-top: 3vh
    }

    #page-input form fieldset .input-block label{
        font-size: clamp(1vh, 1.5rem, 3vh);
    }

    #page-input form fieldset .input-block + .input-block{
        margin-top: 2vh;
    }

    #page-input form fieldset .input-block input{
        height: 8vh;
    }

    .calculate-button{
        margin-bottom: 10vh;
    }

}