aside{
    background-color: #ffffff;
    
    padding: 2vw;

    min-height: 100vh;
    width: 30vw;
}

aside header h3{
    color: #4D6F80;
    font-size: clamp(2vw, 3rem, 5vw);

    margin-bottom: 2vh;
}

aside div {
    color: #8FA7B2;

    font-weight: 600;
    font-size: clamp(1vw, 2.3rem, 3vw);
    line-height: 1.5;

    margin: 1.5vh 0;
}

aside div h1{
    margin: 2vh 0;
    text-align: center;
    font-size: clamp(2vw, 5rem, 5vw);
}

aside hr{
    border: 1px solid #D3E2E5;
}

aside a{
    background-color: #37C77F;
    text-decoration: none;
    color: #ffffff;
    font: 800 2rem/1 'Nunito', sans-serif;

    text-align: center;
    justify-content: center;
    display: flex;
    height: 7vh;
    border-radius: 2rem;

    padding: 2.5vh;
    margin-top:6vh
}

.graph{
    background-color: #CEDEE5;
}

@media (max-width: 500px){
    aside{
        padding-top: 3vh;
        min-width: 100vw;
    }

    aside div h1{
        font-size: clamp(5vw, 5rem, 8vw);
    }

    aside div {

        font-size: clamp(2vw, 2rem, 6vw);
    }

    aside header h3{
        font-size: clamp(8vw, 11vw, 12vw);
    }

    header h1{
        font-size: clamp(10vw, 12vw, 13vw);
    }

    .content h3{
        font-size: clamp(7vw, 7vw, 9vw);
    }

    .content p{
        font-size: clamp(2.5vw, 3vw, 4vw)
    }
}