aside .sidebar{
    z-index: 10;
    position: fixed;
    height: 100%;
    padding: 4rem 1rem;
    background-color: #15c3d6;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    overflow: hidden;
}



aside .sidebar footer a{
    width: 4.8rem;
    height: 4.8rem;
    border: none;

    background-color: #12afcd;

    border: 0;
    border-radius: 1.6rem;

    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;
    margin-top: 2rem;

    outline: none;

    transition: background-color 200ms;
}

aside .sidebar footer a img{
    width: 3.5rem;
    height: 3.5rem;
    border: none;

    opacity: 50%;

    transition: opacity 200s
}

aside .sidebar footer a:hover {
    background-color: #17D6EB;
    
}

aside .sidebar footer a img:hover {
    opacity: 100%;
}

.with-sidebar{
    padding-left: 100px;
}

@media (max-width: 500px) {

    aside .sidebar{
        display: none;

    }

    .with-sidebar{
        padding-left: 0 !important;
    }

}